<div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div class="card">
        <div class="fila">  
            <div class="col-100 titulo">
                <form class="buscador" [formGroup]="formSearch">
                    <label (click)="showSearch()">
                        <img src="assets/search.svg">
                    </label>
                    <input #search type="search" 
                           placeholder="Nombre producto..."
                           formControlName="search">
                </form>
                <button routerLink="/crear-producto">Añadir producto</button>
            </div>
        </div>
        <hr>
        <table class="clientes">
            <tr>
                <th>Nombre</th>
                <th>Código SKU</th>
                <th></th>
            </tr>
            <tr *ngFor="let producto of productos">
                <td>{{producto?.nombre}}</td>
                <td>{{producto?.sku}}</td>
                <td>
                    <button class="warning" routerLink="/editar-producto/{{producto._id}}">
                        <img src="assets/edit.svg">
                    </button>
                    <button class="danger m-l-small" (click)="removeProducto(producto._id)">
                        <img src="assets/trash.svg">
                    </button>
                </td>
            </tr>
        </table>
        <p *ngIf="consultando">Espere...</p>
        <p *ngIf="productos?.length === 0">No se encontraron productos</p>
    </div>
</div>
